.navbar{
  background-color: #1E202B;
}
.nav-item a {
  padding: 5px 25px !important;
  margin: 0 5px !important;
  border: 2px solid transparent;
  border-radius: 30px;
  color: white !important;
  transition: 0.3s ease;
  font-weight: 400;
}

.nav-item a:hover,
.nav-item a:focus {
  border-color: #00aaff; 
  color: #00aaff !important; 
  background-color: transparent; 
 
}
.nav-item a.active {
  border-color: #00aaff; 
  color: #00aaff !important; 
  background-color: transparent; 
  
}
.my-image{
  height: 200px !important;
}

/*!============================================================*/
/*^ Footer Section  */
.site-footer {
  background-color: #262936;
  color: #fff;
  padding: 30px 0;
}

.site-footer .subscribe-form .input-group {
  display: flex;
  border-radius: 25px;
  background-color: #1E202B;
  padding: 5px; 
}

.site-footer .subscribe-form .input-group input[type="text"] {
  flex: 1;
  padding: 12px 20px;
  border: none;
  outline: none;
  color: #ddd;
  background-color: transparent;
}

.site-footer .subscribe-form .input-group input[type="text"]::placeholder {
  color: #888;
}

.site-footer .subscribe-form .input-group button {
  border: none;
  padding: 0 20px;
  background-color: #00aaff;
  color: white;
  border-radius: 25px !important; 
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.site-footer .subscribe-form .input-group button:hover {
  background-color: #0088cc;
}

.site-footer .social-links {
  margin-top: 10px; 
  margin-right: 10px;
  text-align: right; 
  padding-right: 15px; 
}


.site-footer .social-links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #00aaff;
  font-size: 1.2rem;
  background-color: #1E202B;
  border-radius: 50%;
  width: 40px; 
  height: 40px;
  margin-right: 10px; 
  transition: all 0.3s ease;
}

.site-footer .social-links a:hover {
  background-color: #00aaff;
  color: white;
}

.colophon {
  margin-top: 20px;
  padding-left:5px ;
  color: #888;
}

.contact {
  min-height: 100vh;
}

.sec-nav {
  background-color: #262936 !important;
}
.sec-nav {
  font-size: 0.9rem !important;
}
.sec-nav a:hover {
  text-decoration: underline !important;
}
.contact-info {
  position: relative;
  background-color: #262936;
}

.contact-info .fixed-height {
  height: 220px;
  background-color: transparent; /* Optional, to visually distinguish the section */
}

.contact-item {
  gap: 0.5rem !important;
}
.contact-item > * {
  color: #bfc1c8;
}
.contact-item div > * {
  color: #bfc1c8 !important;
}
.contact-item i {
  vertical-align: middle;
  margin-top: 5px;
  color: #13b8dc;
}

.two-contact-item {
  gap: 1.5rem !important;
}

form {
  width: 100% !important;
  margin-top: 0;
}
input.form-control,
textarea.form-control {
  background-color: #1E202B;
  color: white; 
  border: 1px solid #444;
}

input.form-control::placeholder,
textarea.form-control::placeholder {
  color: #aaa; 
}

textarea {
  height: auto;
  min-height: 9.5rem !important; 
  resize: none; 
  background-color: transparent !important;
  color: #fff !important;
  border: none !important;
}

textarea::placeholder {
  color: #95979f !important;
}

.contact-form p {
  color: #bfc1c8 !important;
}

input,
textarea {
  box-shadow: 0 0 0 0.1rem #95979f;
}
input:hover,
textarea:hover {
  box-shadow: 0 0 0 0.1rem #009ad8;
}

footer {
  background-color: #262936;
}
footer input {
  box-shadow: none;
}

@media screen and (max-width: 1200px) {
  .two-contact-item {
    gap: 0.5rem !important;
  }
}
body{
  background-color:#1E202B ;
}

